.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #31008b;
  color: white;
  background: #31008b;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #0a0538;
  border-color: #0a0538;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.sm-card {
  width: 300px;
  margin: 2rem;
}

.card-img-top {
  height: 250px;
  width: 150px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.add-product-form {
  width: 500px;
}

.form-group {
  padding: 1rem;
}

.save-btn {
  margin: 1rem;
}

.nav-content {
  padding: 0.5rem 2rem !important;
}

.page-title {
  padding: 2rem 1rem;
}
